* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(270deg, #342650, #533641, #324e86);
  background-size: 600% 600%;
  font-family: 'Kanit', sans-serif;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  color: white;
}

$bg-color: #ff8888; //start color
$stops: 100; //smoothness
$time: 20s; //duration of animation
$hue-range: 20; //of 360deg

body {
  background-color: $bg-color;
  -webkit-animation: colorChange $time linear 0s infinite;
  animation: colorChange $time linear 0s infinite;
}

@-webkit-keyframes colorChange {
  @for $i from 0 through $stops {
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);

    #{$i}% {
      background: -webkit-linear-gradient(left, $old-color, $new-color);
      background: linear-gradient(to right, $old-color, $new-color);
    }
  }
}

@keyframes colorChange {
  @for $i from 0 through $stops {
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);

    #{$i}% {
      background: linear-gradient(to right, $old-color, $new-color);
    }
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }

}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

#date {
  margin: 0px 15px 15px 0px;
  width: 212px;
  height: 11px;
  font-weight: 800;
  font-size: 16px;
  line-height: 14px;
  display: flex;
  align-items: center;
}

#greeting {

  width: 233px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

}

#profile {
  position: absolute;
  border-radius: 41px;
  width: 70px;
  height: 70px;
  right: 15px;
}

/**.box {
  width: 150px;
  height: 160px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.37);
}
**/
.box{
width: 150px;
height: 160px;
margin: 10px;
background: rgba(4, 3, 3, 0.304);
border-radius: 20px;
box-shadow: 0 4px 30px #f0f3fa5f;
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
border: solid rgba(255, 255, 255, 0.26);
}

.box-title {
  position: relative;
  left: 10px;
  top: 15px;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
}


#content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.rep-count {
  position: relative;
  width: 100%;
  height: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  display: flex;
  justify-content: center;

}

.box-img {
  position: relative;
  width: 50px;
  height: 30px;
  top: -10px;
  float: right;
  /* margin-right: 15x; */
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.hide{
  display: none;
}

.box-focus{
  margin-top: 60px;
  height:170px;
  width:170px;
}